[2016-11-07 01:17] maxholgasson opened #1 "Does it work with Arduino 1.6.9?"
Hi,

doenst work on a Arduino Nano neither on a ESP8266

Does it work with IDE 1.6.9 ?

[2016-11-25 21:35] Simsso commented on #1
Unfortunately I can't see an issue here.

The library works with version 1.6.13
![image](https://cloud.githubusercontent.com/assets/6556307/20635595/6e8c49a2-b35f-11e6-926f-218073d08172.png)

[2016-11-29 20:04] #1 closed, assigned to Simsso

[2017-10-31 17:17] stevepeart opened #2 "Shift register pulsing on and off whenever delay is used after "set()""
Hello,

I am having an issue when using this library with delays, including the example code.

I have 3 LEDs connected to the shift register outputs and whenever I call:

sr.set(0, HIGH);
sr.set(1, HIGH);
sr.set(2, HIGH);

In my main loop, the 3 lights all come on like expected.

However, when I change the code to this:

sr.set(0, HIGH);
delay(1000);
sr.set(1, HIGH);
delay(1000);
sr.set(2, HIGH);

[2017-11-02 20:01] Simsso commented on #2
Hi Stevepeart, thanks for reporting the issue.
Before I wire things up this weekend in order to try to reproduce the error, I wanted to ask whether you have double-checked the wiring. Does the issue persist?

[code]

![](https://shiftregister.simsso.de/arduino-one-sr-schem.jpg)

[2017-11-04 11:22] Simsso commented on #2
Hi @stevepeart
unfortunately I was not able to reproduce the bug with the following code:
[code]

It works as expected. Make sure your wiring is correct and don't transmit data over `Serial` when using the pins 0 and 1 for your shift register too.

Regards,
Timo

[2017-11-04 11:22] #2 closed, assigned to Simsso

[2017-11-07 04:50] stevepeart commented on #2
You are right, I had pin 11 and 12 reversed on the shift register. Now I am getting results I expect, thanks!

[2017-11-11 03:39] stevepeart opened #3 "Feature Request: PWM"
Any chance of getting some PWM for the enabled pins? :)

[2017-11-11 08:57] Simsso commented on #3
Hi there!
Not from this exact library but from one that I have released about a week ago. It is called **ShiftRegister PWM Library** and you can find all the required information here:
https://timodenk.com/blog/shiftregister-pwm-library/

[2017-11-11 08:59] #3 closed, assigned to Simsso

[2018-03-07 05:26] Simsso opened #5 "Library Manager Support"
Add `library.properties` to ensure the library is discoverable for the [Library Manager](https://github.com/arduino/Arduino/wiki/Library-Manager-FAQ).

[2018-03-19 18:59] hedrickbt opened #7 "The library currently isn't working for me due to latch conditions"
My 74HC595 chip expects the latching to be LOW instead of high.  I have provided a pull request with the changes I needed.

https://github.com/Simsso/Shift-Register-74HC595-Arduino-Library/pull/6

[2018-03-20 02:50] Simsso commented on #7
Hey @hedrickbt,

thanks a lot for your contribution. It's greatly appreciated.

I do not have access to any hardware right now but I'll test your changes as soon as possible (approx. two weeks from now). Then I can merge it.

[2018-04-01 11:29] Simsso commented on #5
Following the [Project structure specification (v1.5)](https://github.com/arduino/Arduino/wiki/Arduino-IDE-1.5:-Library-specification)

[2018-04-01 11:30] #5 closed, assigned to Simsso

[2018-04-01 12:52] hedrickbt commented on #7
Added some questions to https://github.com/Simsso/ShiftRegister74HC595/pull/6

[2018-04-01 13:49] Simsso commented on #7
_Let's move this conversion here. Could you copy your comments as well, please? Makes more sense to discuss the issue rather than the PR._

I have looked into the suggested changes #6 in detail now and there are a few things not clear to me. Could you please clarify:

- You set the latch pin to `LOW` before shifting out new data (https://github.com/Simsso/ShiftRegister-74HC595-Arduino/pull/6/commi

[2018-04-01 20:52] Simsso commented on #5
![image](https://user-images.githubusercontent.com/6556307/38177290-590712b4-35ff-11e8-8b82-f49c36e95429.png)

[2018-04-12 18:01] #7 closed, assigned to Simsso

[2018-05-29 18:02] colesnicov opened #8 "Unpredictable behavior"
Hello. Is it possible to define a value field like const PROGMEM with your library? Respectively it is possible to use but the device then does not predict my behavior - it does not work .. Me it does not work ..

`const PROGMEM uint8_t pinValues[] = {B10101010}; // not worked!!`

[2018-05-30 07:04] Simsso commented on #8
I do not think this is an _issue_ with the library, nor is there any unpredicted behavior.
[StackOverflow C++](https://stackoverflow.com/questions/tagged/c%2B%2B)

[2018-05-30 07:04] #8 closed, assigned to nobody

[2018-05-30 08:35] colesnicov commented on #8
Did you try to test it?
`static const uint8_t PROGMEM pinValues [] = {...};`
I think you should know. In any case, I encountered it yesterday while working with your library. I did not play any more, I removed `const static PROGMEM` and everything works as well. Otherwise, the behavior was the following: either the flames of the light were extinguished, not one or the LEDs flashed randomly ...

[2018-05-30 10:04] Simsso commented on #8
I did not test it and but I don't even understand what the issue is.

Maybe related to [this](https://www.arduino.cc/reference/en/language/variables/utilities/progmem/)
[code]

[2018-08-23 08:37] tamasharasztosi opened #12 "Using those dots on the display"
[code]

Hi! I'm using this code and it works fine with integers. What would be the easiest method to display floats with decimal point?

[2018-08-23 09:02] #12 closed, assigned to nobody

[2019-01-30 08:33] Muhammed-Hayr-Ali opened #13 "Use `setAll` with multiple shift registers"
Thanks for this wonderful work
[code]
How can I use this property with a second shift registers just without affecting the first shift registers

[2019-01-31 10:59] Simsso commented on #13
There is currently no explicit method that sets all eight outputs of a shift register (SR) at once, in multi shift register mode. There are, however, two ways of solving the problem:

1. Use the `setNoUpdate(int pin, uint8_t value)` method to set all eight pins of the specific shift register and update it afterwards with `updateRegisters()`.
2. Retrieve the current state with `uint8_t * getAll()`,

[2019-02-01 00:10] Muhammed-Hayr-Ali commented on #13
thank you for good working

[2019-02-01 00:10] #13 closed, assigned to Simsso

[2019-03-21 04:11] Koepel opened #14 "Changing the pointer from malloc() memory leak"
The pointer to the heap is changed. The pointer to the memory in the heap that was allocted with malloc() should not be changed.

In the function setAll(), the pointer to the heap is changed when doing: `_digitalValues = digitalValues;`.
After that, the allocated memory in the heap can no longer be used.
When the user had the data on the stack, the _digitalValues-pointer could be pointing to a mem

[2019-03-22 08:36] Simsso commented on #14
Thank you very much, @Koepel, I value your comment. It's a memory leak ([that's the line of code](https://github.com/Simsso/ShiftRegister74HC595/blob/master/src/ShiftRegister74HC595.cpp#L50)) that would have been easy to prevent. If you have time I would appreciate a PR.

I'm not 100% sure but I think using `free` is not a good idea on Arduino either. The `memcpy` option seems reasonable.

[2019-03-22 17:43] Koepel commented on #14
Hi, I have created a pull request.

In Arduino a "byte" is a keyword and is defined as `uint8_t`. I have changed the variable with the name "byte".

A destructor is added which releases the allocated memory. Normally the constructor is in the global section of a sketch, and the destructor is not used. When a ShiftRegister74HC595 object was created runtime, then the destructor could be called.

The

[2019-03-29 14:58] #14 closed, assigned to Simsso

[2019-04-03 17:06] lnorton89 opened #16 "getAll() for multiple shift registers"
Maybe I'm not reading the documentation correctly but how would one get the status of all shift register outputs to print to the Serial console?

[2019-04-04 07:13] Simsso commented on #16
Hi @lnorton89:
One way of achieving this is the following:

1. Retrieve the values with `uint8_t * vals = sr.getAll()`.
2. Loop over the number of shift registers, counter variable `i`
3. For each shift register call `Serial.println(vals[i], BIN)`

Please close the issue if this answers your question.

[2019-04-04 15:19] lnorton89 commented on #16
I have two shift registers the first one being for outputs the second one for inputs.

This seems to output the correct state of my output registers (1-8) but the first input register (9) is not being read. I am pulling it down to ground with a button. Is this correct?
[code]

[2019-04-04 15:53] Simsso commented on #16
The code looks good, however, you cannot use shift register pins like input pins. That's simply not possible with the 74HC595.

[2019-04-04 15:58] lnorton89 commented on #16
I was under the assumption it was possible. It would be nice to use a library like yours to read inputs instead of the SPI library.

https://www.youtube.com/watch?v=nXl4fb_LbcI

[2019-04-04 17:49] Simsso commented on #16
Thank you for pointing this out. I'm a bit surprised, also because the [data sheet](https://shiftregister.simsso.de/data-sheet.pdf) clearly states that the pins are outputs. However, they also say "8-bit serial input", so you seem to be right. I'd add this to the future features list of this library.

[2019-04-04 17:50] #16 closed, assigned to Simsso

[2019-12-27 23:31] Cesar-S opened #20 "Extension library .hpp include as .h in .cpp"
Hi, in file .cpp,  .hpp include as .h in, cause error.

br

[2019-12-28 01:55] #20 closed, assigned to nobody

[2019-12-30 12:47] Simsso commented on #20
I cannot reproduce the error, for me the library compiles just fine on MacOS with Arduino version 1.8.10. Which setup are you using, do you still face the error?

[2019-12-30 14:36] Cesar-S commented on #20
sorry, it's not a library error, we are using it in XOD and the builder change

as I didn't know how to implement it with <size> I used the previous version of the library again

Thanks

[2020-08-12 09:58] yuvalkedar opened #21 "Sending data to multiple registers"
Hi,
I couldn't understand how do I send different array for each register.
Let's say I have 4 shift registers and I want to send them these values:
B01111011, B01100000 ,B01011101 ,B01110101.
How do I choose which register will get which array?
I need a function to choose the register number and its array.

[2020-08-13 06:00] Simsso commented on #21
If you operate the shift registers in series you create a **single** shift register instance
[code]
Then you set the values and the order in the `pinValues` array determines which of the four shift registers will output which byte.
[code]

Please let me know whether that helps and close the issue, if it resolved the matter at hand.

[2020-08-13 06:03] yuvalkedar commented on #21
Thanks, I did just that yesterday and it works fine.

On Thu, Aug 13, 2020, 9:00 AM Timo Denk <notifications@github.com> wrote:

[2020-08-13 06:09] #21 closed, assigned to Simsso

[2021-07-15 09:38] Devnol opened #23 "I made a Raspberry Pi Pico port of your library!"
Hello, I wanted to use a 74HC595 display on one of my Raspberry Pi Pico projects and found this Arduino library. I have adapted it to work with it and have uploaded to GitHub at https://github.com/Devnol/ShiftRegister74HC595-Pico. I always try to show the original sources of my projects and I did as best as I could in showing that my library is a port of yours. However, I am not sure whether I hav

[2021-07-23 14:54] itsboo07 opened #24 "Shift register with millis funtion"
i want to use millis funtions on shift register outputs, im used sensors to tigger  lights but as im usig delay to turn on lights one by one. which makes the other sensor trigger useless...and this is sensitive to my project because it has people count . soo sensors has to work all time .
soo how to use millis in shift register output pins

[2021-07-23 18:28] sfranzyshen commented on #24
Hi @itsboo07 ... why don't you post your code and we will try to help you with eliminating delays from your code. This issue isn't really related to this project, as delays are not used within this code base ... but I'll help you figure it out ... but I'll need a little more info to make that happen 😄

[2021-07-23 18:38] itsboo07 commented on #24
sorry for posting here.
Im making a project of automatic stair case light with people count using 4 ir sensors and have used shift register to take the outputs.
the real problem i face is...i have set code in such a way that lights turn  ON one other  one and goes off one other one with the direction from top to bottom or bottom to top depeding on the sensors. and have used delays for that...as my

[2021-07-23 22:09] sfranzyshen commented on #24
OK, I may have over thunk this but I wanted to stay to exactly what you had ...
[code]
hope that helped ... although I can see a problem when the counter switches between in and out it will screw up the mode mid processing and probably not giving you the expected results ...

[2021-07-23 22:31] itsboo07 commented on #24
thanks for your time , but this code isnt funtioning.
its not turnings the lights on or off not sure whats wrong here

[2021-07-23 22:37] sfranzyshen commented on #24
what do you get at the serial console ... does it recognize the changes at the sensors?

[2021-07-23 22:46] itsboo07 commented on #24
yes but not exactly
the issues are
light turn on counts are runnning in loop and going just going all way from 16 ,17,18to 100...110..etc
and when sensor 4 or 3 are triggered its not working that way
and somtimes sensors are triggered funtions take some delay to start and also most of the time lights animiations are either going wrong or just not working
here is the video link on how my code perfo

[2021-07-23 22:53] sfranzyshen commented on #24
I made a change to the file above to initialize the current position ... can you see if that makes any difference? ... the problem also maybe the way timex is being applied ...

[2021-07-23 23:00] itsboo07 commented on #24
hi...i would say the last code was better then this updated one.
before the code was updated. sensor 1 , 2 and 3 was working fine in last code
only sensor 4 was funtioning as same as sensor 3
also when sensor 1 and 2 are triggered together it goes to end less loop
the recent code has issues ..sensor 1 is just turning on the 15th light alone and isnt performing .
i would say code before updated wor

[2021-07-23 23:04] itsboo07 commented on #24
is it possible for you to come in discord soo i can share my screen and you can watch the serial monitor yourself ?that could really be helpful .

[2021-07-23 23:15] sfranzyshen commented on #24
last try ... I left the delays in that were used during the sensor reading ... this will block the lights ... but is closer to your original code ...

[code]

[2021-07-23 23:21] itsboo07 commented on #24
uh...same issue sfranzyshen
senssor 4 works senor 1, 2 , 3 isnt working the right way
if sensor 4 is triggered for like 2 time it just starts to count++ even its not triggered
it would be helpful if you seee the serial monitor yourself. i can share my screen in discord

[2021-07-23 23:32] sfranzyshen commented on #24
can you tell me more about your sensors ... how do they behave ...

* do they go HIGH or LOW when triggered
* are they real-time response (do they have a delay or no delay when changing state)

[2021-07-23 23:43] itsboo07 commented on #24
When triggered SENSORS go LOW
Only sensor 4 works with trigger.. Yes it turned on lights one by one with some delay.
IT'S not changing state.. Only sensor 4 worked other sensors did not work...
But the first code you posted works better only sensor 4 was doing same funtions of sensor 3 and thier was a issue of loop... And light where keep counting without any endless loops...

[2021-07-24 00:09] sfranzyshen commented on #24
this is as close to your original code as I can get ... it doesn't address your original problem ... yet it should run exactly (blocking) as your code does ...

[code]

[2021-07-24 00:36] sfranzyshen commented on #24
if that didn't work like your previous code did then I can only assume that your sensors have a reset timeout ... so when they get triggered ... they stay low for a period of time even if they are no longer getting triggered ... if this is the case then you will need to test for when they go high again (or change states) before taking new readings ...

[2021-07-24 04:13] itsboo07 commented on #24
hi...i tried out the last code
serial monitor shows,
when sensor 2 is activated: turn off light 0
when sensor 1 is activated: turn on light15
but sensor 3 and 4 is working fine.
when sensor 4 is triggered:
turn on light 15
turn on light 14
turn on light 13
turn on light 12
turn on light 11
turn on light 10
turn on light 9
turn on light 8
turn on light 7
turn on light 6
turn on light 5
turn on ligh

[2021-07-24 07:22] itsboo07 commented on #24
hey thanks for your efforts on  my code. i really appreciate you
I made this working by doing this, which is almost kind of same to your code

[2021-07-24 08:16] itsboo07 commented on #24
in this code?
https://pastebin.com/wRJsLVPx
can you eliminate  delays in count part..?
as the counter is working all fine/

[2021-07-25 14:57] #24 closed, assigned to nobody

[2021-07-26 14:15] Simsso commented on #23
Looks good to me! Thanks for your comment and for giving me credit in the fork.

On a separate note: I think it would be helpful to name the differences between this repo and your fork in your repo's `README.md`. Please close this issue, unless you have further questions. Cheers! :-)

[2021-07-26 14:21] Devnol commented on #23
Thank you so much for your time. I don't think there's any difference between my version of the library and yours in terms of end user functions, iirc it's a 1:1 map, only changing arduino.h api calls internally to pico stdlib functions. The readme is definitely a little rough on the edges and I do plan to work on it at one point. If there is any difference I have missed feel free to point it out.

[2021-07-26 14:21] #23 closed, assigned to nobody

[2021-08-01 07:13] itsboo07 opened #25 "Shift register and 7-segment display"
hi im using 3 shift registers...and from that im using 1st and 2nd shift register for controlling 16 leds and i want to control the 7 segment display with the 3rd shift register...is it possible to do that? with this library without affecting the leds funtions?

[2021-08-01 18:47] sfranzyshen commented on #25
Hi again :smile:
this driver (Arduino library) does not provide any direct support for seven segment displays ... but can be used to drive a seven segment display easily ... with that said ... the answer is "YES" ... how to do it ...

first the physical connections ... I suggest looking at a few examples of using a seven segment display with a shift register to get an idea how the display is conne

[2021-08-01 19:04] itsboo07 commented on #25
hi thanks for your fast response...let me explain my issue . im  making a staircase automatic light with four ultrasonic sensor to count person and with the person 1or 1+ it will turn on lights with the animations based on which side sensor is triggered ...i m using 16 leds from 2 shift register outputs now i want to add one more shift register for 7 segment display to show the number of persons..

[2021-08-01 22:33] itsboo07 commented on #25
@sfranzyshen I have updated the above code... Can you please check... And help me how to add the 7 segment display? Sorry if I'm troubling you.
And I want the segment display to only work on button push counter 4 where sensors and counts and light animations work... In other button push counters its not related with any count or animations.
It would be great if you really help me out... As I want

[2021-08-01 22:37] sfranzyshen commented on #25
Hi! Yes, I have forked your code and I'm working on helping you work the third shift register and seven segment display all working in conjunction with the rest of your code ... I should have something here soon :smile:

[2021-08-01 22:41] itsboo07 commented on #25
This sounds curious to me..... Waiting for your update 🙏🤩

[2021-08-01 22:42] itsboo07 commented on #25
Sorry closed  it was by mistake....

[2021-08-02 01:26] sfranzyshen commented on #25
after looking over your code I came up with a way to handle this without changing your original code ... I used a multidimensional array to hold each digit from 0 to 9 and A, B, C, D, E, F, and a ERROR pattern (three lines) that can be used in a for loop to update the third shift register without changing the way your code currently writes to the shift registers ... I have not tested compiling thi

[2021-08-02 04:20] itsboo07 commented on #25
Thanks @sfranzyshen. I will try to check and Compile.
And also what if I use sr.setAllpinValues instead of setAllHigh or setAllLow? Like this
uint8_t pinValues0[] = { B00000000, B00000000};
Soo this could only update the 1st two shift registers right? Without disturbing the 3rd one... Would this work like this?

[2021-08-02 04:29] sfranzyshen commented on #25
in the code I create two versions of the Digits[][] multidimensional array ... one for the common anode and one for common cathode ... you would REM (//) out the one not used ... currently it's set for common anode ... basicly they are inverted (0 = 1 and 1 = 0) of each other ...

[2021-08-02 04:32] itsboo07 commented on #25
Sorry my bad... I was trying to read code in my mobile.
What about Sr.setAllpinValues instead of srsetAllHigh or Low?

[2021-08-02 04:34] sfranzyshen commented on #25
I haven't tried but I believe it will work without passing the third byte, but I expect it will zero it out either way but you should try ... if it disturbs the third ... you should call set_counter() after calling any of the setAll functions ... the display will more than likely flicker when this happens but should be acceptable ... In fact you might want to change the way I'm calling it in the d

[2021-08-02 05:11] itsboo07 commented on #25
Yeah.... You have called under animate_state which does only animations  for person count 0 and 1. And for person count 1+ their is no animations.
I think set_counter(person); should be placed somewhere separate or may be under person= person+1
Soo it changes accordingly

[2021-08-02 15:24] itsboo07 commented on #25
hi i tried but it didnot work...but for now thats not a issue..issue i have now is...my schematic and code working fine with leds as output...but if i try that with relay its not working..not sure why..can you help whats going wrong here

[2021-08-02 16:58] itsboo07 commented on #25
also  this the is the schematic i used to connect to relay. instead of relay if i use led it works..but relays dosnt work also i set to LOW.so relays get triggered with LOW not HIGH
this the the relay module im using
https://www.electronicscomp.com/8-channel-5v-relay-module-with-optocoupler?gclid=CjwKCAjwr56IBhAvEiwA1fuqGi6MQScXaBy7GMNkRiPjn5MLaUD8nLvqXVCccloAFSfkz9ENIY2hJBoC6JkQAvD_BwE
![aaaaaaaa

[2021-08-02 21:54] itsboo07 commented on #25
hey @sfranzyshen  with few changes 7 segment works..but it keeps flickering .

[2021-08-02 23:00] itsboo07 commented on #25
@sfranzyshen also its turning off 8 lights from shift register 1 not sure why

[2021-08-03 02:42] sfranzyshen commented on #25
great to hear ... lets see your code ... either update your old gist above or post a new link ...

[2021-08-03 04:45] itsboo07 commented on #25
Sure... And also for each button push counter it changes a b c d. And in sensor mode it it shifts with numerical digits to count.
Thanks for your help.

[2021-08-03 06:59] itsboo07 commented on #25
@sfranzyshen I need a help... Eveything works good... Execpt for one issue... When in button state 4 even tho eveything is SETHIGH which supposed turn off all relay.. But few are turned on... Why is that so...?

[2021-08-03 12:44] itsboo07 commented on #25
hey!! let me know when you check and update me if I should fix any part of the code. also I want to make this code private for now.
also eveything works soo smooth and perfect to me soo far...is it necessary to use bypass capacitors with shift register?

[2021-08-03 16:10] sfranzyshen commented on #25
I have forked your code ... if you want to keep this private you can edit these messages and remove the links ... I have a full schedule today but I will find time to review your code at some point (today), and see if I can help solve the flickering problem ...

[2021-08-03 19:07] sfranzyshen commented on #25
that really depends on your power source and number of shift registers used ... however, [not de-coupling](http://www.thebox.myzen.co.uk/Tutorial/De-coupling.html) can cause all types of intermittent problems ... so for the cost of a capacitor per shift register ... it's a good practice to use them ... also there is no downside to using them :smile:

[2021-08-03 20:18] itsboo07 commented on #25
thanks and forgot to tell you that flickering issue is fixed

[2021-08-03 21:05] itsboo07 commented on #25
@sfranzyshen as you know im using 3 shift resgisters soo if i have to use a capacitor should i add one for each SR or elsewhere.

[2021-08-03 22:25] sfranzyshen commented on #25
That's great! :smile:

one cap (0.1 uF) for [each shift register across the power and ground](https://www.ti.com/lit/ds/symlink/sn74hc595.pdf)

<img src="https://i.stack.imgur.com/1XiV1.png" />

[2021-08-03 23:35] itsboo07 commented on #25
Adding capacitor this way would work?
![untitled-3-blog (1)](https://user-images.githubusercontent.com/87331871/128099911-1f96ebcb-aa79-41a1-af97-75de50d628e0.jpg)

[2021-08-03 23:55] sfranzyshen commented on #25
that is another issue ... that is a cap across the latch pin ... see [this post](https://arduino.stackexchange.com/questions/39827/is-the-shiftout-tutorial-on-the-official-arduino-website-really-wrong-regarding) for more information ... this can also be used ... in addition to the ceramic caps at each shift register ... you might be fine without using any caps at all ... it's up to you if you deve

[2021-08-04 00:12] itsboo07 commented on #25
Actually eveything works fine...except for one issue...
When EEPROM writes and read... It all. Works fine for all the button push counter expect for 4...thats for sensors and animations.
What happens here is when in sensor mode.. If I unplug and replug the controller... EEPROM reads last button push and if it's sensor mode... That's push 4..then some of the relays gets turned on. Once the animatio

[2021-08-04 00:26] sfranzyshen commented on #25
depending on how you are powering everything you might be experiencing a current drop when initializing many relays simultaneously ... you might try powering the relay boards separately than the arduino and if you do decide to power the relay boards separately just remember to inter-connect power sources with a common ground ... just make sure you have adequate power supply not just voltage but al

[2021-08-04 07:22] itsboo07 commented on #25
Yeah I'm using Two power source only. Still I have the issue.... And gnds are connected.... I don't have any issue in animations or all on or all off... Only during the initial powering of arduino... Have a problem... When I was using Two shift registers....it was working fine....

[2021-08-04 12:38] itsboo07 commented on #25
hey!! this is my complete project schematic(link below) @sfranzyshen
please can you check and update me if i need to fix anything.
also I added 0.1uF capacitors for each shift register.

[2021-08-04 18:29] sfranzyshen commented on #25
looks clean to me :smile:

[2021-08-04 18:34] itsboo07 commented on #25
hai thanks for your response ..is 7segement connected correctly?
I had flickering issues when connected with Arduino 5v soo instead I connected with external 5v supply and flickering stopped. and even leds looks brighter too. just worried did I make the connections correctly.

[2021-08-04 18:38] sfranzyshen commented on #25
so the only thing I can suggest to you is to break things apart ... do some experimenting ... process of elimination ... change one thing at a time ... test ... then change and test again ... you said `"Only during the initial powering of Arduino"` perhaps delay your startup (allow more time to energize everything) or perhaps stager the relays ... so that they are not all initializing simultaneous

[2021-08-04 18:44] sfranzyshen commented on #25
I would say you are exceeding the output of the Arduino's voltage regulator. The 5V pin is limited to 500mA of current if you are powering the Arduino with a USB cable. The onboard voltage regulator is rated for 800mA, but due to power dissipation issues, you shouldn't go over 400 to 500mA.

[2021-08-04 20:05] itsboo07 commented on #25
I understand the issue
thats why i connected the 7segment 5v to external 5v supply instead of Arduino 5v. and it fixed the flickering.
also each ultrasonic sensor only take 2mA soo all four wont cross more than 10mA. apart from ultrasonic im using a touch module and a potentiometer soo all this wont eat that much amps i guess..and also arduino 5v is supplied to shift registers.
and i fixed the sta

[2021-08-04 20:28] sfranzyshen commented on #25
We are all here to help each other ... once we all can remember that ... things will be good :smile: ~peace

[2021-08-04 20:41] #25 closed, assigned to nobody

[2021-08-07 15:59] itsboo07 opened #26 "ESP32 support"
hi again ..does this lib support esp32 and esp8266?

[2021-08-07 16:48] sfranzyshen commented on #26
I personally have not tested it ... but this driver (Arduino Library) use the digitalwrite() and shiftout() function to write data out to the shift registers ... and does not rely on any platform specific resources ... So "Yes" it should work fine on the espX platforms ... :smile:

[2021-08-07 17:31] itsboo07 commented on #26
@sfranzyshen thanks for your response mate.. will try it out and update you..

[2021-08-07 17:31] #26 closed, assigned to nobody

[2021-08-08 18:33] Simsso commented on #26
Feel encouraged to share your experience in this thread, @itsboo07, I'm curious too. 🙂

[2021-08-13 15:56] VarunKumaran opened #27 "Library is not working with ultra sonic sensor"
When I used :
uint8_t pinValue[ ] = {B10101010};
sr.setAll(pinValues);

In else if statement soo that 8 leds light up according to the distance measured in ultrasonic sensor

[2021-08-13 17:22] VarunKumaran commented on #27
#include <ShiftRegister74HC595.h>
#define echoPin 4// attach pin D2 of Esp8266 NodeMcu to pin Echo of HC-SR04
#define trigPin 5//attach pin D1 of Esp8266 NodeMcu to pin Trig of HC-SR04
// defines variables
long duration; // variable for the duration of sound wave travel
int d; // variable for the distance measurement

ShiftRegister74HC595<1> sr(3, 1, 10);

void setup() {
  pinMode(trigPin, OUTPUT)

[2021-08-13 17:24] VarunKumaran commented on #27
This is My code. My ultrasonic sensor 's value are displayed in serial monitor and it is perfect. But the desired our for led is not coming. All I am getting is pin 0-7 in shift register is High,hence all the leds are light up and there is no change when distance (d) is changed.

[2021-08-13 17:28] VarunKumaran commented on #27
I have written this sample code for finding the level of water in our tank. Sooo kindly if anyone knows how to solve this plss respond.
My Gmail acc is varunkumaran1234@gmail.com

[2021-08-13 17:41] sfranzyshen commented on #27
Hi @VarunKumaran

It looks like the problem is that your `else if` statements are using the '&' Pointer Access Operator and not the '&&' logical 'AND' Operator ... change your code like this ...
[code]

[2021-08-13 18:14] VarunKumaran commented on #27
Okayy I will try this code

[2021-08-13 18:19] VarunKumaran commented on #27
No it's not working, after uploading the code all the pins become high and does not change with the condition statement

[2021-08-13 18:28] VarunKumaran commented on #27
HI @sfranzyshen
Thank you soo much for looking into my issue but the problem I am facing is not solved yet. If you have any other ideas please share.
Thank you in advance.

[2021-08-13 18:36] VarunKumaran commented on #27
@Simsso @lathoub @per1234

[2021-08-13 18:45] sfranzyshen commented on #27
* you only changed the `'&'` to `'&&'` in your code ??
* nothing should have changed for the ultra sonic sensor code and should function exactly as it did before ... so if it's not ... something else is wrong
* could you post the serial output (what prints out for the value of `'d'`) ??
* have you verified the shift registers function as expected

[2021-08-13 18:52] sfranzyshen commented on #27
the way your code is written is if the value of `d` (defaults to 0) is less than 25 "OR ||" if the value of `d` is greater than 200 the code will set the output to `B00011111` and will not perform any further test ... then it loops ... so if the value only falls inside this window nothing else will happen ... consider re-writing the first if statement (or even eliminate it)

[2021-08-13 18:56] sfranzyshen commented on #27
also try declaring `'d'` as a `long` rather than a `int`

`int d; // variable for the distance measurement
`
to
`long d; // variable for the distance measurement
`

[2021-08-13 18:59] VarunKumaran commented on #27
Yess I did exactly the same.. wait I will post my serial monitor outpur

[2021-08-13 19:00] sfranzyshen commented on #27
have you verified your shift registers setup function as expected?

[2021-08-13 19:02] VarunKumaran commented on #27
Yess I have and it works perfectly well with the example given.

[2021-08-13 19:06] VarunKumaran commented on #27
![Screenshot (38)](https://user-images.githubusercontent.com/86418940/129407172-7291c264-2ddf-4734-a207-b15aff53ea03.png)
![Screenshot (37)](https://user-images.githubusercontent.com/86418940/129407183-f76c4c3a-211c-4cb3-9371-3aab0edd1b16.png)

[2021-08-13 19:08] VarunKumaran commented on #27
As you can see I have Removed the OR || statement and changed my 'int' d to 'long d'

[2021-08-13 19:10] VarunKumaran commented on #27
![Screenshot (39)](https://user-images.githubusercontent.com/86418940/129407403-d846630b-9ce5-4569-84b7-4b5f2d323bc3.png)

This was my example code to check wether my connections are right. it works as expected.

[2021-08-13 19:31] sfranzyshen commented on #27
ok I may have over thunk this but ... try this ... and post the serial output ...

[code]

what I changed
* declare variable `d` as a long
* cast variable `d` to int for comarison in the if functions
* declared pinValues[] at the top of the loop function
* moved the order of if else statements
* added debug mode printing to serial
* change the writing to shift registers only if changed

[2021-08-13 20:06] VarunKumaran commented on #27
![Screenshot (40)](https://user-images.githubusercontent.com/86418940/129412903-ad39d1ee-6537-4f4f-89e9-64297772b610.png)
In the serial output we get the values but the leds does not change at all

[2021-08-13 20:06] VarunKumaran commented on #27
Tried this code

[2021-08-13 20:23] itsboo07 commented on #27
can you try this @VarunKumaran
[code]

[2021-08-13 20:25] sfranzyshen commented on #27
here is my latest try too ...

[code]

[2021-08-13 20:29] VarunKumaran commented on #27
I will try both the codes.. just give me 5 mins

[2021-08-13 20:30] itsboo07 commented on #27
hey @sfranzyshen hope you doing good.....thought i could may be help...hope you don't take it wrong.

[2021-08-13 20:33] VarunKumaran commented on #27
![Screenshot (42)](https://user-images.githubusercontent.com/86418940/129415455-4e159782-7d85-4300-bf31-7fc00c8b0414.png)
Serial monitor output but still no change in the hardware part

[2021-08-13 20:35] sfranzyshen commented on #27
the more the merrier :smile:

[2021-08-13 20:36] VarunKumaran commented on #27
![Screenshot (43)](https://user-images.githubusercontent.com/86418940/129415808-86f8c18c-eab6-439f-9690-e0a68597485f.png)
still the same @sfranzyshen

[2021-08-13 20:37] VarunKumaran commented on #27
https://user-images.githubusercontent.com/86418940/129415851-3d09065c-657c-4c09-8fda-db30c0d41e3b.mp4

With my example code I am shared earlier^ the leds work as expected.

[2021-08-13 20:40] itsboo07 commented on #27
@VarunKumaran i would suggest you try this library for sonic sensors https://www.arduinolibraries.info/libraries/hcsr04
and use flags to make it work. I think just making readings in ultrasonic sensors wont trigger a function.
or may be its something to do with esp.
I haven't tried in esp yet .

[2021-08-13 20:46] itsboo07 commented on #27
@VarunKumaran share me your discord Id . may be i can try to help you their

[2021-08-13 20:46] sfranzyshen commented on #27
the problem seems to be with the writing to the shift register using the setAll() function ... if the example from this driver worked ... than one of our examples should have changed the state of the lights ... can you test using the test code again and verify it's still working ... and if so please post the actual code used to get a verified working test?

[2021-08-13 20:46] VarunKumaran commented on #27
Okay will try but I am using JSN-SR04T which is a water proof ultrasonic sensor instead of HCSR04. They both need different time interval triggers to get accurate readings.

[2021-08-13 20:51] VarunKumaran commented on #27
varunbolt30#9368

[2021-08-13 20:52] VarunKumaran commented on #27
Okayy give me few mins

[2021-08-13 20:58] itsboo07 commented on #27
yes i feel the same. if the example code worked, one of the above code should have worked. also @VarunKumaran i have sent you request and @sfranzyshen is really super skilled. he might sure help you fix it.

[2021-08-13 21:00] VarunKumaran commented on #27
#include <ShiftRegister74HC595.h>
ShiftRegister74HC595<1> sr(3, 1, 10);

void setup() {
  sr.setAllLow();
  // put your setup code here, to run once:

}

void loop() {

  sr.setAllLow(); // set all pins LOW
  delay(1000);

  sr.setAllHigh(); // set all pins HIGH
  delay(1000);

  sr.setAllLow(); // set all pins LOW
  delay(1000);

  uint8_t pinValues[] = {B10101010};
  sr.setAll(pinValues);
  dela

[2021-08-13 21:23] sfranzyshen commented on #27
Here are two copies of test code that do the same thing two different ways ... I want to test calling the setAll() function multiple times in a row to see if it works ... can you run each of these and post the results?
### 1st
[code]
### 2nd
[code]

[2021-08-13 21:25] VarunKumaran commented on #27
Sure just gimme a min !!

[2021-08-13 21:28] VarunKumaran commented on #27
https://user-images.githubusercontent.com/86418940/129420127-faef2bc7-3218-45d0-9b3c-757d75635123.mp4

Test Code 1

[2021-08-13 21:30] VarunKumaran commented on #27
https://user-images.githubusercontent.com/86418940/129420299-33d7d465-414b-4886-a6e6-343999c41ec7.mp4

Test Code 2
BOTH the code works perfectly fine

[2021-08-13 21:32] itsboo07 commented on #27
if the test code works, @sfranzyshen i feel its somthing to do with the ultrasonic gnd and shift register gnd

[2021-08-13 21:32] VarunKumaran commented on #27
I will Share my rough Circuit dig

[2021-08-13 21:39] VarunKumaran commented on #27
![Screenshot (44)_LI](https://user-images.githubusercontent.com/86418940/129420791-a948d913-8140-4a54-849d-9b89d0dba1d5.jpg)

I have not connect any pins to my motion sensor yet so ignore that sketch. As you can see the JSN is my ultrasonic sensor and I have connected them seperate GNDs

[2021-08-13 21:47] itsboo07 commented on #27
@VarunKumaran  try only swaping the LED gnd to pin 24 (GND as per your esp schm) and try the above code with sonic sensors.

[2021-08-13 21:49] VarunKumaran commented on #27
Tried and same result

[2021-08-13 21:53] sfranzyshen commented on #27
maybe it has something to do with the pulseIn() ... I have taken the last test code and only added in the reading of the sonic sensor ... lets see what happens with this code ...

[code]

[2021-08-13 21:58] VarunKumaran commented on #27
![Screenshot (45)](https://user-images.githubusercontent.com/86418940/129422158-f3be93ab-949a-4dfa-9bef-d4628d2f5a42.png)
Same result bro..

[2021-08-13 21:59] VarunKumaran commented on #27
![20210814_032223](https://user-images.githubusercontent.com/86418940/129422195-b2a79eeb-b1e7-40ec-84e0-28424f901881.jpg)
All the leds are light up and doesn't change acc to test code.
Actually this was the outcome for every code we tried all the pins gave out high.

[2021-08-13 22:00] itsboo07 commented on #27
thats just a test code @VarunKumaran .. @sfranzyshen is checking does the test code works with sonic sensors I guess

[2021-08-13 22:02] VarunKumaran commented on #27
Realised a bit later 😅 and edited my comment.

[2021-08-13 22:04] itsboo07 commented on #27
@VarunKumaran does the leds change as per code? and print distance?

[2021-08-13 22:04] sfranzyshen commented on #27
ok, now remark out the line that calls the pulseIn() function and see if the lights change ...
[code]

[2021-08-13 22:05] VarunKumaran commented on #27
ok @sfranzyshen

[2021-08-13 22:08] VarunKumaran commented on #27
https://user-images.githubusercontent.com/86418940/129422769-de60cdb8-e909-49ab-bd2a-57db7dec5c2d.mp4

This was the result after 2 seconds all the led lits up and doesn't go back to low

[2021-08-13 22:09] VarunKumaran commented on #27
But this time as you can see the first led misbehaves at the start and then all the led lits up and it stays the same

[2021-08-13 22:12] itsboo07 commented on #27
@VarunKumaran rather powering the sonic sensor to 3.3v, power it to 5v(pin 15 )and gnd it to pin 14
and gnd the shift register to pin 10 and try

[2021-08-13 22:14] VarunKumaran commented on #27
Same results !! 😔

[2021-08-13 22:18] sfranzyshen commented on #27
ok, now remark out **ALL** lines in the get_distance() function that call the digitalWrite() function ... and try again

from:

[code]

to:

[code]

[2021-08-13 22:19] VarunKumaran commented on #27
Ok @sfranzyshen

[2021-08-13 22:22] VarunKumaran commented on #27
Same results as before !!

[2021-08-13 22:22] VarunKumaran commented on #27
^^

[2021-08-13 22:23] VarunKumaran commented on #27
My old test code still runs perfectly when uploaded

[2021-08-13 22:25] VarunKumaran commented on #27
Does ""Serial.begin(9600);"" have something to do with this issue ?

[2021-08-13 22:26] itsboo07 commented on #27
nope thats just for monitoring and its working correct thats why you are able to see changes in serial monitor

[2021-08-13 22:33] sfranzyshen commented on #27
ok maybe then delayMicroseconds() function is causing us problems ... try and remark them out as well and re-run
from:
[code]
to:
[code]

again the idea here is to process of elimination ... using baby steps ... until we get the lights to react as expected ... not actual fix the problem ... but fihure out what is the problem

[2021-08-13 22:37] VarunKumaran commented on #27
no changes

[2021-08-13 22:37] VarunKumaran commented on #27
I get it

[2021-08-13 22:40] VarunKumaran commented on #27
#include <ShiftRegister74HC595.h>

#define echoPin 4  // attach pin D2 of Esp8266 NodeMcu to pin Echo of HC-SR04
#define trigPin 5  // attach pin D1 of Esp8266 NodeMcu to pin Trig of HC-SR04

// defines variables
long duration;     // variable for the duration of sound wave travel
long d;            // variable for the distance measurement
ShiftRegister74HC595<1> sr(3, 1, 10);
uint8_t pinValues[1]

[2021-08-13 22:44] sfranzyshen commented on #27
hmmm ... this is very confusing ... as of right now we have nothing left in our get_distance() function except print functions and the calculation of the d value ... so it has to be the pinMode() function calls in the setup() function since they are the only things left ...

from:
void setup() {
[code]
to:
[code]

[2021-08-13 22:47] VarunKumaran commented on #27
ok

[2021-08-13 22:48] sfranzyshen commented on #27
* what version of the Arduino IDE are you using?
* what version of the board core are you using? (are you building for the esp8266?)

[2021-08-13 22:48] itsboo07 commented on #27
this would take him back to the test code @sfranzyshen as sonic wont work.
and he is using esp8266

[2021-08-13 22:50] sfranzyshen commented on #27
yes you are right it won't work ... but it will mean the problem is deeper than what we are working on ...
or if it still doesn't work ... it could be an intermittent hardware issue ... OR a compiler issue ...

[2021-08-13 22:51] itsboo07 commented on #27
I have suggest him to try the leds without shift register and see if it calls the leds when distance changes.
this could help us sort the issue may be.
as soo far the test code works with shift register and test code of sonic sensors alone(i sent him test code to see if sonic sensors showing distance correct) also works but when we put both together their is some problem.

[2021-08-13 22:56] sfranzyshen commented on #27
I would recommend for the esp8266 platform to use Arduino IDE v1.8.10 & and esp8266 board core v2.7.4
there are known problems with the later cores ...

[2021-08-13 23:00] itsboo07 commented on #27
@sfranzyshen i think he is using NodeMcu ESP8266 V3
as off i know, the known issues with few nodemcu boards is gnd issues. is their anything worse then that?

[2021-08-13 23:02] VarunKumaran commented on #27
arduino ide latest version 1.8.

[2021-08-13 23:02] VarunKumaran commented on #27
I am using the same

[2021-08-13 23:04] sfranzyshen commented on #27
the problems are with the software not hardware ... they will get it ... but right now ... the esp8266 core 2.7.4 is pretty solid ... when you go into the board manager you can change the version installed per board type

[2021-08-13 23:08] VarunKumaran commented on #27
Thank so much for helping me @sfranzyshen @itsboo07. Lets wind up Our session for today and continue later with fresh mind.
Goodnite guys !!

[2021-08-13 23:09] itsboo07 commented on #27
yeah i get it @sfranzyshen ...and also i feel @VarunKumaran is using tx and rx pin for shift register (data latch and clock )
i suggested him to try out other pin outs...as tx and rx are deafult data pins...and its a esp (real headache)

[2021-08-13 23:10] sfranzyshen commented on #27
@VarunKumaran  did the test code run after remarking out the pinMode() calls?

If not then remark out any calls to the get_distance() function (even though it does nothing)

and if that still doesn't get the leds working again ... then I am at a complete loss ... since we are basically back to our (previously) working test code ...

[2021-08-13 23:11] sfranzyshen commented on #27
Good Night! step away for now but keep up with it in the future and you'll get it figured out!

[2021-08-13 23:12] itsboo07 commented on #27
also @sfranzyshen as i said before I asked him to run leds with sonic sensor without shift register and it looks like its working.
this is the working code without shift register
[code]

[2021-08-13 23:15] sfranzyshen commented on #27
WOW, I over looked that ... if he's using the same pins as tx / rx of the esp ... that's the problem right there ... by default in Arduino you can't disable the serial and will cause conflicts ... even if one doesn't try and use the serial features ....

[2021-08-13 23:17] itsboo07 commented on #27
@sfranzyshen  yes he is using the tx and rx of esp , as I checked the pin outs of his esp8266
for data and clock he is using gpio3 and gpio1 , which are tx and rx pins of esp

![ESP8266-NodeMCU-kit-12-E-pinout-gpio-pin](https://user-images.githubusercontent.com/87331871/129426409-2c332d00-997b-4acd-9031-6cb856cca098.png)

[2021-08-13 23:26] sfranzyshen commented on #27
@itsboo07 You nailed it this is defiantly the problem ... @VarunKumaran if you change the shift register off pins 1 & 3 this should (**WILL**) fix your problem

[2021-08-13 23:34] sfranzyshen commented on #27
it does since the shift register is also connected to the same pins ... change the pins used for the shift register ... your problem will be solved ...

[2021-08-13 23:42] itsboo07 commented on #27
Serial.begin(9600); isn't actually a issue but the pins he is using has a issue. it can interrupt the serial communication.
and I'm happy that i found it.....and hope he fixes it tomorrow.
and I cant see any other problem apart from this to fix his issue.

[2021-08-14 00:17] sfranzyshen commented on #27
looking over you schematic it looks like you are tight on gpio's ... if you have to use 1 & 3 then disable the serial using the Serial.end() function instead of Serial.begin() ... [read more here](https://www.arduino.cc/reference/en/language/functions/communication/serial/end/)
of course you'll lose the debug (serial) output and any Serial.print function calls will also need to be remarked out

[2021-08-14 00:33] sfranzyshen commented on #27
Here is your original code ... minimally changed to avoid using the serial port ... it should work
[code]

[2021-08-14 04:49] VarunKumaran commented on #27
Yess I will try that out and post the results

[2021-08-14 04:50] VarunKumaran commented on #27
Yess I too hope changing the pins of shift register solves the problem

[2021-08-14 04:51] VarunKumaran commented on #27
Okay @sfranzyshen will look into it

[2021-08-14 11:26] VarunKumaran commented on #27
Hi @sfranzyshen @itsboo07  it's been a pleasure troubleshooting my problem with you guys.. as you both said earlier the problem is with the RX TX pin. When I change those pins to digital pin it works perfectly fine and all 5 leds work according to the distance measured. I have even tried @sfranzyshen method of avoiding the serial port using ""Serial.end()"". While executing this code with the same

[2021-08-14 11:36] VarunKumaran commented on #27
@sfranzyshen May I know where are you from?

[2021-08-14 15:49] sfranzyshen commented on #27
Glad things worked out @itsboo07' s attention to details saved the day here ... good luck with the rest of the project :smile:

I like to consider myself as a 🌍 earthing ... who currently resides in california 😆 ~peace

[2021-08-14 15:56] itsboo07 commented on #27
I remember you said this and I like to follow that @sfranzyshen
We are all here to help each other ... once we all can remember that ... things will be good 😄 ~peace

[2021-08-14 16:16] VarunKumaran commented on #27
Well said both of youuu 😁❤️. I am closing the issue right now... Take care and have a great time 🙌🏻.

[2021-08-14 16:16] #27 closed, assigned to nobody

[2021-08-25 03:16] BullzLabz opened #28 "[Newbies] How to set this module ?"
Hello,

Thanks for your hard work on this library.

I read all your documentation and read your tutorial and test your examples but being beginner I'm not sure I understand.

I have a module of 4 digits but with two 74HC595 chip at the back PCB, which setting should I adjust my sketch please? 2 or 4?

[My module :](https://fr.aliexpress.com/item/1005002672324823.html?spm=a2g0o.productlist.0.0.83db

[2021-08-25 19:15] sfranzyshen commented on #28
Hi @BullzLabz

This is not the only driver (Arduino Library) for the 74HC595 chip ... You might consider using a driver (Arduino Library) That is specifically designed to drive these 7-segment displays that use the multiplex mode on the module you are using ... consider looking at one of these drivers instead that support this functionality directly ...
https://miguelpynto.github.io/ShiftDisplay/

[2021-08-26 00:03] BullzLabz commented on #28
Hello @sfranzyshen ,

Thanks a lot 👍🏻

[2021-08-26 00:03] #28 closed, assigned to nobody

[2021-09-13 18:39] matititam opened #29 "Arduino simulation page for the library"
hi There

Good day

Thank you for the wonderful library for the shift out register.
I am writing this to share with you a link for the Arduino simulation for the useful library you have shared
Permanent link:

https://wokwi.com/arduino/projects/309636841566372416

![Wokwi Arduino Simulator - Shift Registers-new](https://user-images.githubusercontent.com/68117142/133138525-4d35c2cd-e469-4d69-b324-4

[2021-11-08 14:19] vanhcm20 commented on #29
Can this library use for many 74HC595?

[2022-02-01 21:04] Simsso commented on #29
That's amazing, thank you @matititam, I'm impressed by the simulator. Will check it out in greater detail :-)

Out of curiosity: does the simulator also support (fake) SD card modules for examples? Edit: just checked, it does, really nice work!

[2022-02-02 15:33] matititam commented on #29
Dear @Simsso It will be awesome fi you can share some feedback.

How can the simulator be helpful t a developer like you? What else would you love to see in the simulator?

It will be fun, if you can say hi to fellow Wokwi users on [Discord](https://wokwi.com/discord)..at your convenience

[2022-02-10 09:40] #29 closed, assigned to Simsso

[2022-10-30 09:21] fungreenfox opened #31 "Compability with other modules"
The demo works standalone, but In a script with si4703 radio module and TFT display ili9488, any command to the shiftregister appears not to reach it.
Libraries in my script are:
#include "WifiPass.h"
#include <WiFi.h>
#include <NTPClient.h> //NTPClient by Arduino
#include <WiFiUdp.h>
#include "FS.h"
#include <SPI.h>
#include <string.h>
#include <Wire.h>
#include <EEPROM.h>
#include "EEPROMAnythin

[2022-11-01 12:19] fungreenfox commented on #31
Solved. Moved a pin to the RX2 pin.
// Define Connections to 74HC595
#include <ShiftRegister74HC595.h>
// ST_CP pin 14
const int latchPin = 14;
// SH_CP pin 11
const int clockPin = 16;
// DS pin 14
const int serialDataPin = 12;

[2022-11-01 12:19] fungreenfox commented on #31
Solved. Moved a pin to the RX2 pin.
// Define Connections to 74HC595
#include <ShiftRegister74HC595.h>
// ST_CP pin 14
const int latchPin = 14;
// SH_CP pin 11
const int clockPin = 16;
// DS pin 14
const int serialDataPin = 12;

[2022-11-01 12:19] #31 closed, assigned to nobody